@page
@model BookProject.Pages.CartModel
@{
}

<div class="row m-1 p-1">
    <div class="col-2"></div>

    <div class="col-8">
        <h1>Your Cart</h1>
        <table class="table table-boardered table-striped">
            <thead>
                <tr>
                    <th>Book</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var i in Model.basket.Items)
                {
                    <tr>
                        <td>@i.Book.Title</td>
                        <td>@i.Quantity</td>
                        <td>@i.Book.Price.ToString("$#,##0.00")</td>
                        <td>@((i.Quantity * @i.Book.Price).ToString("$#,##0.00"))</td>

                        <td class="text-center">
                            <!--when posted this form does not go to controller, but goes to cart.cshtml.cs -->
                            <form method="post" asp-page-handler="Remove">
                                <input type="hidden" name="bookid" value="@i.Book.BookId" />
                                <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>


            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total Price:</td>
                    <td>@Model.basket.CalculateTotal().ToString("$#,##0.00")</td>
                </tr>
            </tfoot>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total Book(s): </td>
                    <td class="text-right">
                        @Model.basket.TotalBook()
                    </td>
                </tr>
            </tfoot>
        </table>

        <div>
            <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
            <a class="btn btn-primary" asp-action="Checkout" asp-controller="Purchase">Checkout</a>
        </div>
    </div>



    <div class="col-2"></div>
</div>

